* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, input {
  font-family: sans-serif;
  font-size: 18px;
}

body {
  background: #fffcf4;;
  color: black;
}

header {
  padding: 0 0.5rem;
  width: 100%;
}

header>section {
  display: inline-block;
  padding: 0.5rem;
}

input {
  margin: 0 0.25rem;
}

input[type="text"] {
  width: 10rem;
  padding: 0 0.25rem;
}

input[type="range"] {
  vertical-align: middle;
  width: 5rem;
}

#categoryLabel {
  display: inline-block;
  vertical-align: text-bottom;
  width: 4rem;
  white-space: nowrap;
}

main {
  padding-bottom: 1rem;
}

#result {
  display: flex;
  flex-flow: row nowrap;
}

.group {
  padding: 0 1rem;
  text-align: right;
}

.groupTitle {
  opacity: 0.2;
  text-align: center;
  font-style: italic;
  border-bottom: solid 1px;
  margin-bottom: 0.25rem;
}

.groupList {
}

.rhyme {
  list-style-type: none;
}
