* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

body, input {
  font-family: sans-serif;
  font-size: 20px;
}

header {
  padding: 0.5em 1em;
}

main {
  padding: 0 1em 1em;
}

input {
  margin: 0 0.25em;
}

input[type="text"] {
  width: 12em;
  padding: 0 0.25em;
}

input[type="range"] {
  vertical-align: middle;
  width: 8em;;
}

.separator {
  display: inline-block;
  width: 0.5em;
}